customtkinter

# latest craterstats
git+https://github.com/ggmichael/craterstats.git

# pinned craterstats commit
#git+https://github.com/ggmichael/craterstats.git@d3aef6b9407486e33cdfba6b83e1b57faf2940bc

